.share {
  width: 97%;
  margin: auto;
  margin-top: 20px;
  border-radius: 8px;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
}

.shareHr {
  margin: 20px;
  border: 1px solid rgba(0, 0, 0, 0.178);
}

.shareIcon {
  font-size: 20px;
  margin-right: 4px;
}

.shareOptionText {
  font-size: 14px;
  font-weight: 500;
}
